body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    background-color: #cfe4e7;
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 100px;
}

.search form {
    display: flex;
    align-items: center;
}

#buscar {
    width: 280px;
    margin-top: 4px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

nav .nav-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.252);
    transition: 240ms;
    border-radius: 7px;
}

.container {
    padding: 0;  
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

.beneficios-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 20px; 
}

.card {
    width: 23%;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card p {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
}

.card:hover {
    transform: scale(1.05);
}

.saude, .bem-estar, .outros {
    width: 100vw; 
    margin: 0; 
    padding: 40px 0;  
   
}

.saude {
    background-color: #cfe4e7;
}

.bem-estar {
    background-color: #ece8da;
}

.outros {
    background-color: #f0e4e8;
}

footer {
    font-family: Verdana;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}
