body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 100px;
}

.search form {
    display: flex;
    align-items: center;
}

#buscar {
    width: 280px;
    margin-top: 4px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

nav .nav-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.252);
    transition: 240ms;
    border-radius: 7px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(111, 0, 0);
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: white;
    margin-bottom: 20px;
}

.dica-section {
    width: 100%;
    margin-bottom: 40px;
}

.dica-section h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.dica-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.dica-card img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.dica-texto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.dica-texto h3 {
    margin: 0 0 10px;
}

.dica-texto p {
    margin: 0;
}

footer {
    font-family: Verdana;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}

