body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    background: url('fundoinicio.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Define o texto como branco */
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 100px;
}

.search form {
    display: flex;
    align-items: center;
}

#buscar {
    width: 280px;
    margin-top: 4px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

nav .nav-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.252);
    transition: 240ms;
    border-radius: 7px;
}

#container {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column; 
    text-align: center; 
}

.botaoinicio {
    background-color: transparent; 
    border: 2px solid white; 
    color: white; 
    padding: 10px 28px; /* Diminui um pouco o tamanho do botão */
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.botaoinicio:hover {
    background-color: white; 
    color: black; 
}

#imagem-bem-vindo {
    width: 280px;
    height: 280px;
}

#bem-vindo h1, p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bem-vindo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    font-size: 35px;
}

footer {
    font-family: Verdana;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}
